.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.header{
  top: 0;
  left: 0;
  position:relative;
  width:unset;
  height: 2cm;
  background-color: black;
  border: 2px solid grey;
  border-bottom-color: grey;
  box-shadow: grey 0px 0px 15px ;
  align-items: center;
}
.header h1{
  position: absolute;
  margin-left: 0.1cm;
  align-self: center;
   color: whitesmoke;

}
.overlay {
  position: fixed;
  z-index: 10;

}
.App-light{
  text-align: center;
  background-color: #ffffff; /* Set the background color for the light theme */
  color: #000000; /* Set the text color for the light theme */
  min-height: 100vh;
}


.App-dark
{  text-align: center;
    background-color: #130a0a; /* Set the background color for the dark theme */
  color: #ffffff; /* Set the text color for the dark theme */
  min-height: 100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
