.div{
    /* position: relative; */
    margin-top: -3.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
    
    z-index: 10;
}


.switch{

    position: absolute;
    height: 1cm;
    color: yellow;
    border-radius: 5px;
    border-color: greenyellow;
    margin-left: 28cm;
    margin-top: 1.7cm;
        
}

.profile{
    width: 4cm;
    height: 1cm;
    color:greenyellow;
    border-radius: 5px;
    border-color: greenyellow; 
    background-color: transparent;
    align-items: center;
margin-top:2cm;
position: absolute;
display: inline-flex;
margin-left:-5cm;
cursor: pointer;
    

}  
.vmail{
    width: 4cm;
    height: 1cm;
    color:white;
    border-radius: 5px;
    border-color: white;
    align-items: center;
    padding-left: 1cm;
    margin-top:2cm;
background-color: transparent; 
position: absolute;
display: inline-flex;
margin-left: 0.5cm;
    cursor: pointer;

}  

.logout
{
    width: 3cm;
    height: 1cm;
    color: red;
    border-radius: 5px;
    border-color: red;
    margin-top:2cm;
align-items: center;
padding-left: 1cm;
background-color: transparent; 
position: absolute;
display: inline-flex;
margin-left: 5.5cm;
cursor: pointer;
}





.all{
    position:relative;
    display: inline-flex;
    /* margin: auto; */
    margin-left: 0.2cm;
    margin-top: 5cm;
    padding: auto;
    align-items: flex-start;

}



.all div{
    display: inline-flex;
    align-items: center;
    padding: auto;
    margin-right: 0.8cm;
    border-radius: 30px;
    box-shadow: grey 0px 0px 15px;
    height: 4cm;
    width: 7cm;
}
.all div img{
    position: absolute;
    margin-left: 5cm;
    
}
.all div p{
    font-weight: bold;
    color: grey;
    margin-left: 1rem;
    margin-bottom: 8rem;

}
.all div h3{
    position:absolute;
    font-weight: bold;
    color: rgb(152, 225, 35);
    margin-left: 1cm;
    margin-bottom: -2rem;
    background-color: transparent;
    /* box-shadow: grey 15px 15px 15px; */
}
.all div label{
    position:absolute;
    font-weight: bold;
    margin-top: 3cm;
    margin-left: 1cm;
    box-shadow: grey 15px 15px 15px;
}

.all div button  {
    position: absolute;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    border-color: white;
    height: 1cm;
    width: 3cm;
    background-color:whitesmoke;
    cursor: pointer;
    padding: auto;
    margin-left: 1cm;
    
    box-shadow: grey 15px 15px 15px;
    
}


.moneyimg{
    width: 1cm;
    height: 1cm;
}