.div{


margin-left: 12cm;
border-radius: 30px;
border:5px solid whitesmoke;
box-shadow: lightblue(2,4,3,6);
background-color: rgba(83, 145, 207, 0.267);
height: 15cm;
width: 10cm;
}
div input{
    
    width: 8cm;
    font-size: larger;
    font-weight: bolder;
    padding: 1rem;
}
div label{
    position: relative;
   margin-bottom: 1cm;
    font-size: larger;
    font-weight: bolder;
}
div button{
    margin-top: 2cm;
    width: 4cm;
    height: 1.5cm;
    font-weight: bold;
}
